@model TagHelperUygulama.Models.Kullanici

<div class="form-group">
<label asp-for="AdSoyad"></label>
<input asp-for="AdSoyad" class="form-control">
</div>
<div class="form-group">
<label asp-for="EPosta"></label>
<input asp-for="EPosta" class="form-control">
</div>
<div class="form-group">
<label asp-for="DogumTarihi"></label>
<input asp-for="DogumTarihi" class="form-control">
</div>
<div class="form-group">
<label asp-for="Telefon"></label>
<input asp-for="Telefon" class="form-control">
</div>
<div class="form-group">
<label asp-for="PostaKodu"></label>
<input asp-for="PostaKodu" class="form-control">
</div>
<div class="form-group">
<label asp-for="Sifre"></label>
<input asp-for="Sifre" class="form-control">
</div>